
.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px 40px auto;
  grid-template-columns: auto;
  grid-template-areas: 
  "title"
  "navBar"
  "content";
}

.title {
  background-color: rgb(0, 29, 61);
  color: white;
  grid-area: title;
}

.title h1 {
  margin: 0%;
  line-height: 70px;
  font-size: 2em;
}

.new-title {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 85% auto;
  grid-template-areas: 
  "heading user-picture user";
}

.heading {
  grid-area: heading;
  
}

.user {
  grid-area: user;
  text-align: right;
  margin-top: 25px;
  margin-right: 20px;
}

.user-picture {
  grid-area: user-picture;
  height: 45px;
  width: 48px;
  border-radius: 50%;
  margin: auto;
}

.nav-bar {
  grid-area: navBar;
  display: flex;
  padding-top: 0px;
  background-color: rgb(255, 214, 10);
}
.nav-bar a {
  margin: 0%;
  line-height: 40px;
  display: block;
  flex-grow: 1;
  color:rgb(0, 29, 61);
  text-decoration: none;
  font-weight: bold;
}

.nav-bar a:hover {
  background-color: rgb(255, 195, 0);
}

.content {
  margin-top: 10px;
  grid-area: content;
}

.articles-list > section:not(.change-page, .sort_by) {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 80px 20px auto auto;
  grid-template-rows: 35px auto;
  grid-template-areas: 
  "votes spacer date topic"
  "votes spacer article-content article-content";
  color: white !important;
  
}

.articles-list > section:nth-child(even):not(.change-page, .sort_by) {
  background-color: rgb(0, 29, 61) !important;
  border-radius: 10px;
}
.articles-list > section:nth-child(odd):not(.change-page, .sort_by) {
  background-color: rgb(0, 53, 102) !important;
}

.articles-date {
  grid-area: date;
  text-align: left;
}

.articles-topic {
  grid-area: topic;
  text-align: right;
}

.articles-content {
  grid-area: article-content;
}

.articles-content a {
  color: white;
  text-decoration: none;
}

.articles-card > p:first-of-type {
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

.articles-header {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "votes articles-title"
  "votes articles-title-author";
}

h2.articles-title {
  grid-area: articles-title;
}
h4.articles-title {
  grid-area: articles-title-author;
}

.votes {
  grid-area: votes;
  margin: auto;
}

.votes div:first-child {
  width: 0; 
  height: 0;
  margin: 0 auto;
  cursor: pointer;
  background: transparent;
  border-top: 0px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}
.votes div:last-child {
  width: 0; 
  height: 0;
  margin: 0 auto;
  cursor: pointer;
  background: transparent;
  border-bottom: 0px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}
.articles-card .votes div {
  border-bottom-color: black !important;
  border-top-color: black !important;
} 
.comments > section {
  border: 3px rgb(255, 214, 10) solid;
  margin: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 20px 2fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas: 
  "votes spacer date author"
  "votes spacer comment-content comment-content";
}

.comment-date {
  grid-area: date;
  text-align: left;
  color: gray;
}

.comment-author {
  grid-area: author;
  text-align: right;
  font-weight: bold;
}

.comment-content {
  grid-area: comment-content;
  text-align: justify;
  padding-top: 10px;

}

.sort_by {
  padding-bottom: 10px;
  color:rgb(0, 29, 61);
  font-weight: bold;
}

.sort_by button {
  background-color:rgb(0, 29, 61);
  margin-right: 10px;
  color: white;
  font-weight: bold;
  border: 2px rgb(0, 29, 61) solid;
}

.change-page {
  background-color: transparent !important;
  font-weight: bold;
}

.form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "comment post-button";
  margin: 10px;
}

.form #comment {
  grid-area: comment;
}

.form #post-button {
  grid-area: post-button;
  margin-left: 10px;
  background-color: rgb(0, 29, 61);
  color: white;
  font-weight: bold;
  border: 2px rgb(0, 29, 61) solid;
}

.form #post-button:disabled {
  opacity: 0.5;
  cursor:not-allowed;
}

.comments-sort_by {
  color:rgb(0, 29, 61);
  font-weight: bold;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30px;
  grid-template-areas: "sort_by comment_count";
  
}

.comments-sort_by button {
  background-color:rgb(0, 29, 61);
  margin-right: 10px;
  color: white;
  font-weight: bold;
  border: 2px rgb(0, 29, 61) solid;
}

.comments-sort_by #sort_by {
  margin-top: 5px;
  grid-area: sort_by;
  text-align: left;
  padding-left: 15px;
}
.comments-sort_by #comment_count {
  margin-top: 5px;
  text-align: right;
  padding-right: 15px;
  grid-area: comment_count;
}

@media only screen and (min-width: 800px) {
  .App {
    display: grid;
    grid-template-rows: 70px auto;
    grid-template-columns: 100px auto;
    grid-template-areas: 
      "title title"
      "navBar content";
  }

  .content {
    margin-top: 0px;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .nav-bar a {
    flex-grow: 0;
  }

  .articles-list > section {
    margin-top: 10px;
  }
}
